In [5]:
import pandas as pd
import pandas_profiling

In [10]:
timings = pd.read_csv('./processed_timings.csv', header=0, index_col=0)

In [17]:
props = pd.read_csv('./processed_properties.csv', header=0, index_col=0)

In [ ]:
combined = pd.read_csv('./')

In [13]:
timings_profile = pandas_profiling.ProfileReport(timings)

In [14]:
props_profile = pandas_profiling.ProfileReport(props)

In [15]:
timings_profile.to_file('timings_profile.html')

In [16]:
props_profile.to_file('props_profile.html')

In [18]:
combined = pd.merge(timings,props)

In [19]:
combined.describe()

C:\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3817: RuntimeWarning: invalid value encountered in multiply
  x2 = take(ap, indices_above, axis=axis) * weights_above

,np,matrix_id,solver_id,prec_id,status_id,new_time,good_or_bad,rows,cols,min_nnz_row,...,row_diag_dom,col_diag_dom,diag_avg,diag_sign,diag_nnz,lower_bw,upper_bw,row_log_val_spread,col_log_val_spread,symm
count,36295.000000,3.629500e+04,36295.000000,36295.000000,36295.000000,3.629500e+04,36295.000000,36295.000000,36295.000000,36295.000000,...,36295.000000,36295.000000,3.629500e+04,36295.000000,36295.000000,36295.000000,36295.000000,36295.000000,36295.000000,36295.000000
mean,1.294255,-2.098954e+17,3.972696,1.999669,-0.127676,inf,-0.973385,15586.168563,15586.168563,2.030390,...,0.111448,0.106626,5.882436e+15,1.596308,13752.329880,9750.758066,5137.279295,42.291645,42.409151,0.012398
std,1.456155,5.132770e+18,2.582842,1.414272,0.772815,NaN,0.229180,23338.280452,23338.280452,4.096596,...,0.454710,0.438144,1.580851e+17,1.484227,22769.883583,20056.006972,13935.997120,68.016502,67.940348,0.110657
min,1.000000,-9.220398e+18,0.000000,0.000000,-1.000000,3.950600e-04,-1.000000,1000.000000,1000.000000,0.000000,...,0.000000,0.000000,0.000000e+00,-2.000000,0.000000,0.000000,0.000000,0.000000,0.733975,0.000000
25%,1.000000,-4.703796e+18,2.000000,1.000000,-1.000000,inf,-1.000000,1813.000000,1813.000000,1.000000,...,0.000000,0.000000,1.444200e-01,1.000000,1440.000000,327.000000,0.000000,7.738030,8.000000,0.000000
50%,1.000000,9.683424e+16,4.000000,2.000000,0.000000,NaN,-1.000000,5850.000000,5850.000000,1.000000,...,0.000000,0.000000,2.568980e+00,2.000000,4257.000000,1763.000000,420.000000,18.206699,18.338100,0.000000
75%,1.000000,4.103208e+18,6.000000,3.000000,0.000000,inf,-1.000000,19998.000000,19998.000000,1.000000,...,0.000000,0.000000,4.696360e+02,3.000000,16129.000000,10779.000000,3000.000000,32.754002,32.715099,0.000000
max,12.000000,9.178332e+18,8.000000,4.000000,1.000000,inf,1.000000,155924.000000,155924.000000,48.000000,...,2.000000,2.000000,4.485230e+18,3.000000,155924.000000,154381.000000,104472.000000,328.273987,328.306000,1.000000

In [20]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36295 entries, 0 to 36294
Data columns (total 43 columns):
np                    36295 non-null int64
matrix                36295 non-null object
matrix_id             36295 non-null int64
solver_id             36295 non-null int64
prec_id               36295 non-null int64
status_id             36295 non-null int64
new_time              36295 non-null float64
good_or_bad           36295 non-null int64
rows                  36295 non-null int64
cols                  36295 non-null int64
min_nnz_row           36295 non-null int64
row_var               36295 non-null float64
col_var               36295 non-null float64
diag_var              36295 non-null float64
nnz                   36295 non-null int64
frob_norm             36295 non-null float64
symm_frob_norm        36295 non-null float64
antisymm_frob_norm    36295 non-null float64
one_norm              36295 non-null float64
inf_norm              36295 non-null float64
symm_inf_norm         36295 non-null float64
antisymm_inf_norm     36295 non-null float64
max_nnz_row           36295 non-null int64
trace                 36295 non-null float64
abs_trace             36295 non-null float64
min_nnz_row.1         36295 non-null int64
avg_nnz_row           36295 non-null int64
dummy_rows            36295 non-null int64
dummy_rows_kind       36295 non-null int64
num_value_symm_1      36295 non-null int64
nnz_pattern_symm_1    36295 non-null int64
num_value_symm_2      36295 non-null float64
nnz_pattern_symm_2    36295 non-null float64
row_diag_dom          36295 non-null int64
col_diag_dom          36295 non-null int64
diag_avg              36295 non-null float64
diag_sign             36295 non-null int64
diag_nnz              36295 non-null int64
lower_bw              36295 non-null int64
upper_bw              36295 non-null int64
row_log_val_spread    36295 non-null float64
col_log_val_spread    36295 non-null float64
symm                  36295 non-null int64
dtypes: float64(18), int64(24), object(1)
memory usage: 12.2+ MB

In [21]:
combined_profile = pandas_profiling.ProfileReport(combined)

In [22]:
combined_profile.to_file('./combined_profile.html')